In [55]:
import pandas as pd
import json
import datetime as dt

# Activity Log

In [2]:
# Take: Each activity has active duration, duration, originalDuration. These will be columns, not sure if they are ever different. If not, just use one.
# coumns from under activityLevel value array that contains same info as above, just need to see if the same.
# Take: activityLevel_sedentary, activityLevel_lightly, activityLevel_fairly, activityLevel_very, each containing minutes
# Take: activityName, activityTypeId, averageHeartRate, calories, 
# from heartRateZones: 
# Take: hrZone_OOR_mins, hrZone_Fatburn_mins, hrZone_Cardio_mins, hrZone_Peak_mins /// hrZone_OOR_cals, hrZone_Fatburn_cals, hrZone_Cardio_cals, hrZone_Peak_cals
# Take: logID, originalStartTime, startTime, steps

In [3]:
#activity_df = pd.read_json('raw_data/get_activities_1.json')
f = open('raw_data/get_activities_1.json')

data = json.load(f)
#print(data['activities'])
activity_df = pd.DataFrame.from_dict(pd.json_normalize(data['activities']), orient='columns')

In [4]:
activity_df.columns

Index(['activeDuration', 'activityLevel', 'activityName', 'activityTypeId',
       'averageHeartRate', 'calories', 'caloriesLink', 'distance',
       'distanceUnit', 'duration', 'elevationGain', 'hasActiveZoneMinutes',
       'heartRateLink', 'heartRateZones', 'lastModified', 'logId', 'logType',
       'originalDuration', 'originalStartTime', 'pace', 'speed', 'startTime',
       'steps', 'tcxLink', 'activeZoneMinutes.minutesInHeartRateZones',
       'activeZoneMinutes.totalMinutes', 'manualValuesSpecified.calories',
       'manualValuesSpecified.distance', 'manualValuesSpecified.steps',
       'source.id', 'source.name', 'source.trackerFeatures', 'source.type',
       'source.url'],
      dtype='object')

In [5]:
activity_df.head(2)

,activeDuration,activityLevel,activityName,activityTypeId,averageHeartRate,calories,caloriesLink,distance,distanceUnit,duration,...,activeZoneMinutes.minutesInHeartRateZones,activeZoneMinutes.totalMinutes,manualValuesSpecified.calories,manualValuesSpecified.distance,manualValuesSpecified.steps,source.id,source.name,source.trackerFeatures,source.type,source.url
0,1676000,"[{'minutes': 3, 'name': 'sedentary'}, {'minute...",Walk,90013,107,187,https://api.fitbit.com/1/user/-/activities/cal...,1.208969,Kilometer,1678000,...,"[{'minuteMultiplier': 2, 'minutes': 0, 'order'...",21,False,False,False,293319960,Charge 6,"[CALORIES, DISTANCE, PACE, GPS, HEARTRATE, VO2...",tracker,https://www.fitbit.com/
1,7000,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",Bike,90001,137,0,https://api.fitbit.com/1/user/-/activities/cal...,0.000000,Kilometer,9000,...,"[{'minuteMultiplier': 2, 'minutes': 1, 'order'...",2,False,False,False,293319960,Charge 6,"[CALORIES, DISTANCE, GPS, HEARTRATE, SPEED]",tracker,https://www.fitbit.com/

In [6]:
activity_df.drop(['caloriesLink', 'heartRateLink', 'lastModified', 'logType', 'tcxLink', 'manualValuesSpecified.calories', 'manualValuesSpecified.distance', 'manualValuesSpecified.steps', 'source.id', 'source.name', 'source.trackerFeatures', 'source.type', 'source.url'], axis=1, inplace=True)
activity_df.columns

Index(['activeDuration', 'activityLevel', 'activityName', 'activityTypeId',
       'averageHeartRate', 'calories', 'distance', 'distanceUnit', 'duration',
       'elevationGain', 'hasActiveZoneMinutes', 'heartRateZones', 'logId',
       'originalDuration', 'originalStartTime', 'pace', 'speed', 'startTime',
       'steps', 'activeZoneMinutes.minutesInHeartRateZones',
       'activeZoneMinutes.totalMinutes'],
      dtype='object')

In [7]:
f = open('raw_data/get_activities_2.json')
data = json.load(f)
activity_df_2 = pd.DataFrame.from_dict(pd.json_normalize(data['activities']), orient='columns')

f = open('raw_data/get_activities_3.json')
data = json.load(f)
activity_df_3 = pd.DataFrame.from_dict(pd.json_normalize(data['activities']), orient='columns')

In [8]:
activity_df_2.drop(['caloriesLink', 'heartRateLink', 'lastModified', 'logType', 'tcxLink', 'manualValuesSpecified.calories', 'manualValuesSpecified.distance', 'manualValuesSpecified.steps'], axis=1, inplace=True)
activity_df_3.drop(['caloriesLink', 'heartRateLink', 'lastModified', 'logType', 'tcxLink', 'manualValuesSpecified.calories', 'manualValuesSpecified.distance', 'manualValuesSpecified.steps'], axis=1, inplace=True)

In [9]:
print(activity_df.columns)
print(activity_df_2.columns)
print(activity_df_3.columns)

print(activity_df.info())
print(activity_df_2.info())
print(activity_df_3.info())

Index(['activeDuration', 'activityLevel', 'activityName', 'activityTypeId',
       'averageHeartRate', 'calories', 'distance', 'distanceUnit', 'duration',
       'elevationGain', 'hasActiveZoneMinutes', 'heartRateZones', 'logId',
       'originalDuration', 'originalStartTime', 'pace', 'speed', 'startTime',
       'steps', 'activeZoneMinutes.minutesInHeartRateZones',
       'activeZoneMinutes.totalMinutes'],
      dtype='object')
Index(['activeDuration', 'activityLevel', 'activityName', 'activityTypeId',
       'averageHeartRate', 'calories', 'duration', 'hasActiveZoneMinutes',
       'heartRateZones', 'logId', 'originalDuration', 'originalStartTime',
       'startTime', 'steps', 'activeZoneMinutes.minutesInHeartRateZones',
       'activeZoneMinutes.totalMinutes'],
      dtype='object')
Index(['activeDuration', 'activityLevel', 'activityName', 'activityTypeId',
       'averageHeartRate', 'calories', 'duration', 'hasActiveZoneMinutes',
       'heartRateZones', 'logId', 'originalDuration', 'originalStartTime',
       'startTime', 'steps', 'activeZoneMinutes.minutesInHeartRateZones',
       'activeZoneMinutes.totalMinutes'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   activeDuration                             100 non-null    int64
 1   activityLevel                              100 non-null    object
 2   activityName                               100 non-null    object
 3   activityTypeId                             100 non-null    int64
 4   averageHeartRate                           100 non-null    int64
 5   calories                                   100 non-null    int64
 6   distance                                   3 non-null      float64
 7   distanceUnit                               3 non-null      object
 8   duration                                   100 non-null    int64
 9   elevationGain                              3 non-null      float64
 10  hasActiveZoneMinutes                       100 non-null    bool
 11  heartRateZones                             100 non-null    object
 12  logId                                      100 non-null    int64
 13  originalDuration                           100 non-null    int64
 14  originalStartTime                          100 non-null    object
 15  pace                                       2 non-null      float64
 16  speed                                      3 non-null      float64
 17  startTime                                  100 non-null    object
 18  steps                                      98 non-null     float64
 19  activeZoneMinutes.minutesInHeartRateZones  100 non-null    object
 20  activeZoneMinutes.totalMinutes             100 non-null    int64
dtypes: bool(1), float64(5), int64(8), object(7)
memory usage: 15.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   activeDuration                             100 non-null    int64
 1   activityLevel                              100 non-null    object
 2   activityName                               100 non-null    object
 3   activityTypeId                             100 non-null    int64
 4   averageHeartRate                           100 non-null    int64
 5   calories                                   100 non-null    int64
 6   duration                                   100 non-null    int64
 7   hasActiveZoneMinutes                       100 non-null    bool
 8   heartRateZones                             100 non-null    object
 9   logId                                      100 non-null    int64
 10  originalDuration                           100 non-null    int64
 11  originalStartTime                          100 non-null    object
 12  startTime                                  100 non-null    object
 13  steps                                      100 non-null    int64
 14  activeZoneMinutes.minutesInHeartRateZones  100 non-null    object
 15  activeZoneMinutes.totalMinutes             100 non-null    int64
dtypes: bool(1), int64(9), object(6)
memory usage: 11.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 16 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   activeDuration                             41 non-null     int64
 1   activityLevel                              41 non-null     object
 2   activityName                               41 non-null     object
 3   activityTypeId                             41 non-null     int64
 4   averageHeartRate                           41 non-null     int64
 5   calories                                   41 non-null     int64
 6   duration                                   41 non-null     int64
 7   hasActiveZoneMinutes                       41 non-null     bool
 8   heartRateZones                             41 non-null     object
 9   logId                                      41 non-null     int64
 10  originalDuration                           41 non-null     int64
 11  originalStartTime                          41 non-null     object
 12  startTime                                  41 non-null     object
 13  steps                                      41 non-null     int64
 14  activeZoneMinutes.minutesInHeartRateZones  41 non-null     object
 15  activeZoneMinutes.totalMinutes             41 non-null     int64
dtypes: bool(1), int64(9), object(6)
memory usage: 5.0+ KB
None

In [10]:
#Dropping because there are only 2-3 instances where this data is recorded, therefore it is useless.
activity_df.drop(['distance', 'distanceUnit', 'elevationGain', 'pace', 'speed'], axis=1, inplace=True)

In [11]:
activity_df = pd.concat([activity_df, activity_df_2, activity_df_3], ignore_index=True)

In [12]:
activity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 16 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   activeDuration                             241 non-null    int64
 1   activityLevel                              241 non-null    object
 2   activityName                               241 non-null    object
 3   activityTypeId                             241 non-null    int64
 4   averageHeartRate                           241 non-null    int64
 5   calories                                   241 non-null    int64
 6   duration                                   241 non-null    int64
 7   hasActiveZoneMinutes                       241 non-null    bool
 8   heartRateZones                             241 non-null    object
 9   logId                                      241 non-null    int64
 10  originalDuration                           241 non-null    int64
 11  originalStartTime                          241 non-null    object
 12  startTime                                  241 non-null    object
 13  steps                                      239 non-null    float64
 14  activeZoneMinutes.minutesInHeartRateZones  241 non-null    object
 15  activeZoneMinutes.totalMinutes             241 non-null    int64
dtypes: bool(1), float64(1), int64(8), object(6)
memory usage: 28.6+ KB

In [13]:
#Examine data, clean are next steps for activity.

In [14]:
#print(type(activity_df['activeZoneMinutes.minutesInHeartRateZones'].iloc[0]))
#print(activity_df['activeZoneMinutes.minutesInHeartRateZones'].iloc[0])
print(activity_df['heartRateZones'].iloc[0])
print(activity_df['activityLevel'].iloc[0])

[{'caloriesOut': 27.11632000000003, 'max': 129, 'min': 30, 'minutes': 6, 'name': 'Out of Range'}, {'caloriesOut': 174.69407999999999, 'max': 153, 'min': 129, 'minutes': 21, 'name': 'Fat Burn'}, {'caloriesOut': 0, 'max': 183, 'min': 153, 'minutes': 0, 'name': 'Cardio'}, {'caloriesOut': 0, 'max': 220, 'min': 183, 'minutes': 0, 'name': 'Peak'}]
[{'minutes': 3, 'name': 'sedentary'}, {'minutes': 3, 'name': 'lightly'}, {'minutes': 4, 'name': 'fairly'}, {'minutes': 17, 'name': 'very'}]

In [15]:
# Plan: 
# pre-generate column names, in a way that can be scripted generated...
# for minutes in heartratezones each element in the array is a dictionary, so iterate through that, check the zoneName, then 
# for that column add the value. iterate in order of index of large array. Should end up with same length

In [16]:
base_column_string = 'heartRateZones'
activity_df['heartRateZones.OutofRange.calories'] = None
activity_df['heartRateZones.FatBurn.calories'] = None
activity_df['heartRateZones.Cardio.calories'] = None
activity_df['heartRateZones.Peak.calories'] = None

activity_df['heartRateZones.OutofRange.minutes'] = None
activity_df['heartRateZones.FatBurn.minutes'] = None
activity_df['heartRateZones.Cardio.minutes'] = None
activity_df['heartRateZones.Peak.minutes'] = None


for index in range(0, len(activity_df['heartRateZones'])):
    data_list = activity_df['heartRateZones'].iloc[index]
    for small_dict in data_list:
        generated_base_col_string = base_column_string + '.' + small_dict['name']
        generated_base_col_string = generated_base_col_string.replace(" ", "")
        
        cal_val = small_dict['caloriesOut']
        #activity_df[generated_base_col_string + '.' + 'calories'].iloc[index] = cal_val
        activity_df.iloc[index, activity_df.columns.get_loc(generated_base_col_string + '.' + 'calories')] = cal_val
        
        minute_val = small_dict['minutes']
        #activity_df[generated_base_col_string + '.' + 'minutes'].iloc[index] = minute_val   
        activity_df.iloc[index, activity_df.columns.get_loc(generated_base_col_string + '.' + 'minutes')] = minute_val

In [17]:
print(activity_df.info())
activity_df.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 24 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   activeDuration                             241 non-null    int64
 1   activityLevel                              241 non-null    object
 2   activityName                               241 non-null    object
 3   activityTypeId                             241 non-null    int64
 4   averageHeartRate                           241 non-null    int64
 5   calories                                   241 non-null    int64
 6   duration                                   241 non-null    int64
 7   hasActiveZoneMinutes                       241 non-null    bool
 8   heartRateZones                             241 non-null    object
 9   logId                                      241 non-null    int64
 10  originalDuration                           241 non-null    int64
 11  originalStartTime                          241 non-null    object
 12  startTime                                  241 non-null    object
 13  steps                                      239 non-null    float64
 14  activeZoneMinutes.minutesInHeartRateZones  241 non-null    object
 15  activeZoneMinutes.totalMinutes             241 non-null    int64
 16  heartRateZones.OutofRange.calories         241 non-null    object
 17  heartRateZones.FatBurn.calories            241 non-null    object
 18  heartRateZones.Cardio.calories             241 non-null    object
 19  heartRateZones.Peak.calories               241 non-null    object
 20  heartRateZones.OutofRange.minutes          241 non-null    object
 21  heartRateZones.FatBurn.minutes             241 non-null    object
 22  heartRateZones.Cardio.minutes              241 non-null    object
 23  heartRateZones.Peak.minutes                241 non-null    object
dtypes: bool(1), float64(1), int64(8), object(14)
memory usage: 43.7+ KB
None

,activeDuration,activityLevel,activityName,activityTypeId,averageHeartRate,calories,duration,hasActiveZoneMinutes,heartRateZones,logId,...,activeZoneMinutes.minutesInHeartRateZones,activeZoneMinutes.totalMinutes,heartRateZones.OutofRange.calories,heartRateZones.FatBurn.calories,heartRateZones.Cardio.calories,heartRateZones.Peak.calories,heartRateZones.OutofRange.minutes,heartRateZones.FatBurn.minutes,heartRateZones.Cardio.minutes,heartRateZones.Peak.minutes
0,1676000,"[{'minutes': 3, 'name': 'sedentary'}, {'minute...",Walk,90013,107,187,1678000,True,"[{'caloriesOut': 27.11632000000003, 'max': 129...",59983905440,...,"[{'minuteMultiplier': 2, 'minutes': 0, 'order'...",21,27.11632,174.69408,0,0,6,21,0,0
1,7000,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",Bike,90001,137,0,9000,True,"[{'caloriesOut': 0, 'max': 129, 'min': 30, 'mi...",59999534901,...,"[{'minuteMultiplier': 2, 'minutes': 1, 'order'...",2,0,0,0,0,0,0,0,0
2,1024000,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",Walk,90013,132,126,1024000,True,"[{'caloriesOut': 1.4210854715202004e-14, 'max'...",60019358901,...,"[{'minuteMultiplier': 2, 'minutes': 7, 'order'...",24,0.0,80.72416,44.9856,0,0,10,7,0
3,3840000,"[{'minutes': 2, 'name': 'sedentary'}, {'minute...",Walk,90013,129,574,3840000,True,"[{'caloriesOut': -1.1368683772161603e-13, 'max...",60084501848,...,"[{'minuteMultiplier': 2, 'minutes': 54, 'order...",118,-0.0,66.5397,507.13689,0,0,10,54,0
4,1024000,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",Walk,90013,104,134,1024000,True,"[{'caloriesOut': 28.181519999999978, 'max': 11...",60112557998,...,"[{'minuteMultiplier': 2, 'minutes': 0, 'order'...",13,28.18152,105.94164,0,0,4,13,0,0
5,551000,"[{'minutes': 2, 'name': 'sedentary'}, {'minute...",Run,90009,110,67,552000,True,"[{'caloriesOut': 8.741489999999999, 'max': 117...",60152806995,...,"[{'minuteMultiplier': 2, 'minutes': 1, 'order'...",7,8.74149,47.23014,9.1329,0,3,5,1,0
6,1229000,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",Walk,90013,124,198,1229000,True,"[{'caloriesOut': 2.842170943040401e-14, 'max':...",60165632035,...,"[{'minuteMultiplier': 2, 'minutes': 8, 'order'...",28,0.0,111.42138,86.63208,0,0,12,8,0
7,972000,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",Walk,90013,107,143,972000,True,"[{'caloriesOut': 53.75363999999999, 'max': 118...",60178931267,...,"[{'minuteMultiplier': 2, 'minutes': 1, 'order'...",11,53.75364,79.45623,10.17666,0,6,9,1,0
8,1434000,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",Walk,90013,113,206,1434000,True,"[{'caloriesOut': 9.132900000000006, 'max': 118...",60180515428,...,"[{'minuteMultiplier': 2, 'minutes': 0, 'order'...",23,9.1329,196.61829,0,0,0,23,0,0
9,1075000,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",Walk,90013,116,156,1075000,True,"[{'caloriesOut': 0, 'max': 117, 'min': 30, 'mi...",60201635935,...,"[{'minuteMultiplier': 2, 'minutes': 0, 'order'...",18,0,155.52024,0,0,0,18,0,0
10,1279000,"[{'minutes': 1, 'name': 'sedentary'}, {'minute...",Walk,90013,123,173,1279000,True,"[{'caloriesOut': 0, 'max': 117, 'min': 30, 'mi...",60278979940,...,"[{'minuteMultiplier': 2, 'minutes': 5, 'order'...",26,0,139.73337,33.13938,0,0,16,5,0
11,1689000,"[{'minutes': 1, 'name': 'sedentary'}, {'minute...",Walk,90013,114,247,1689000,True,"[{'caloriesOut': 35.22689999999997, 'max': 118...",60308694460,...,"[{'minuteMultiplier': 2, 'minutes': 2, 'order'...",26,35.2269,196.48782,15.13452,0,4,22,2,0
12,921000,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",Walk,90013,135,154,921000,True,"[{'caloriesOut': 0, 'max': 118, 'min': 30, 'mi...",60318584343,...,"[{'minuteMultiplier': 2, 'minutes': 15, 'order...",30,0,0,153.56319,0,0,0,15,0
13,921000,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",Walk,90013,129,150,921000,True,"[{'caloriesOut': 0, 'max': 119, 'min': 30, 'mi...",60337416923,...,"[{'minuteMultiplier': 2, 'minutes': 14, 'order...",29,0,8.61102,141.42948,0,0,1,14,0
14,922000,"[{'minutes': 0, 'name': 'sedentary'}, {'minute...",Walk,90013,121,141,922000,True,"[{'caloriesOut': -2.842170943040401e-14, 'max'...",60338277068,...,"[{'minuteMultiplier': 2, 'minutes': 1, 'order'...",16,-0.0,131.51376,9.39384,0,0,14,1,0

In [36]:
#Steps is missing from two rows... since its only two I decided to remove the rows, still have plenty of samples.
#Upon further examination, I noticed that some columns aren't the right data type, quick fix.

In [18]:
activity_df = activity_df.dropna()

In [19]:
activity_df.drop(['activeZoneMinutes.minutesInHeartRateZones', 'activeZoneMinutes.totalMinutes', 'activityLevel', 'heartRateZones'], axis=1, inplace=True)
print(activity_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 0 to 240
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   activeDuration                      239 non-null    int64
 1   activityName                        239 non-null    object
 2   activityTypeId                      239 non-null    int64
 3   averageHeartRate                    239 non-null    int64
 4   calories                            239 non-null    int64
 5   duration                            239 non-null    int64
 6   hasActiveZoneMinutes                239 non-null    bool
 7   logId                               239 non-null    int64
 8   originalDuration                    239 non-null    int64
 9   originalStartTime                   239 non-null    object
 10  startTime                           239 non-null    object
 11  steps                               239 non-null    float64
 12  heartRateZones.OutofRange.calories  239 non-null    object
 13  heartRateZones.FatBurn.calories     239 non-null    object
 14  heartRateZones.Cardio.calories      239 non-null    object
 15  heartRateZones.Peak.calories        239 non-null    object
 16  heartRateZones.OutofRange.minutes   239 non-null    object
 17  heartRateZones.FatBurn.minutes      239 non-null    object
 18  heartRateZones.Cardio.minutes       239 non-null    object
 19  heartRateZones.Peak.minutes         239 non-null    object
dtypes: bool(1), float64(1), int64(7), object(11)
memory usage: 37.6+ KB
None

In [33]:
activity_df = activity_df.astype({'heartRateZones.OutofRange.calories': 'float', 'heartRateZones.FatBurn.calories': 'float','heartRateZones.Cardio.calories': 'float', 'heartRateZones.Peak.calories': 'float'})

In [34]:
activity_df = activity_df.astype({'heartRateZones.OutofRange.minutes': 'int','heartRateZones.FatBurn.minutes': 'int','heartRateZones.Cardio.minutes': 'int','heartRateZones.Peak.minutes': 'int',})

In [35]:
print(activity_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239 entries, 0 to 240
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   activeDuration                      239 non-null    int64
 1   activityName                        239 non-null    object
 2   activityTypeId                      239 non-null    int64
 3   averageHeartRate                    239 non-null    int64
 4   calories                            239 non-null    int64
 5   duration                            239 non-null    int64
 6   hasActiveZoneMinutes                239 non-null    bool
 7   logId                               239 non-null    int64
 8   originalDuration                    239 non-null    int64
 9   originalStartTime                   239 non-null    object
 10  startTime                           239 non-null    object
 11  steps                               239 non-null    float64
 12  heartRateZones.OutofRange.calories  239 non-null    float64
 13  heartRateZones.FatBurn.calories     239 non-null    float64
 14  heartRateZones.Cardio.calories      239 non-null    float64
 15  heartRateZones.Peak.calories        239 non-null    float64
 16  heartRateZones.OutofRange.minutes   239 non-null    int32
 17  heartRateZones.FatBurn.minutes      239 non-null    int32
 18  heartRateZones.Cardio.minutes       239 non-null    int32
 19  heartRateZones.Peak.minutes         239 non-null    int32
dtypes: bool(1), float64(5), int32(4), int64(7), object(3)
memory usage: 33.8+ KB
None

# Sleep Log

In [20]:
# Take endtime, startTime, duration, efficiency, isMainSleep
# under leveles, data, array of data times of each cycle of sleep. record that as well.
# Take level (will be light, wake, deep, REM) and datetime /// Likely these two will be PK for each row. Group by endtime, startTime for total sleep day.

In [21]:
f = open('raw_data/get_sleep_1.json')
data = json.load(f)
sleep_df = pd.DataFrame.from_dict(pd.json_normalize(data['sleep']), orient='columns')

f = open('raw_data/get_sleep_2.json')
data = json.load(f)
sleep_df_2 = pd.DataFrame.from_dict(pd.json_normalize(data['sleep']), orient='columns')

f = open('raw_data/get_sleep_3.json')
data = json.load(f)
sleep_df_3 = pd.DataFrame.from_dict(pd.json_normalize(data['sleep']), orient='columns')

In [22]:
print(sleep_df.info())
print(sleep_df_2.info())
print(sleep_df_3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 35 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   dateOfSleep                               100 non-null    object
 1   duration                                  100 non-null    int64
 2   efficiency                                100 non-null    int64
 3   endTime                                   100 non-null    object
 4   infoCode                                  100 non-null    int64
 5   isMainSleep                               100 non-null    bool
 6   logId                                     100 non-null    int64
 7   logType                                   100 non-null    object
 8   minutesAfterWakeup                        100 non-null    int64
 9   minutesAsleep                             100 non-null    int64
 10  minutesAwake                              100 non-null    int64
 11  minutesToFallAsleep                       100 non-null    int64
 12  startTime                                 100 non-null    object
 13  timeInBed                                 100 non-null    int64
 14  type                                      100 non-null    object
 15  levels.data                               100 non-null    object
 16  levels.summary.asleep.count               6 non-null      float64
 17  levels.summary.asleep.minutes             6 non-null      float64
 18  levels.summary.awake.count                6 non-null      float64
 19  levels.summary.awake.minutes              6 non-null      float64
 20  levels.summary.restless.count             6 non-null      float64
 21  levels.summary.restless.minutes           6 non-null      float64
 22  levels.shortData                          94 non-null     object
 23  levels.summary.deep.count                 94 non-null     float64
 24  levels.summary.deep.minutes               94 non-null     float64
 25  levels.summary.deep.thirtyDayAvgMinutes   94 non-null     float64
 26  levels.summary.light.count                94 non-null     float64
 27  levels.summary.light.minutes              94 non-null     float64
 28  levels.summary.light.thirtyDayAvgMinutes  94 non-null     float64
 29  levels.summary.rem.count                  94 non-null     float64
 30  levels.summary.rem.minutes                94 non-null     float64
 31  levels.summary.rem.thirtyDayAvgMinutes    94 non-null     float64
 32  levels.summary.wake.count                 94 non-null     float64
 33  levels.summary.wake.minutes               94 non-null     float64
 34  levels.summary.wake.thirtyDayAvgMinutes   94 non-null     float64
dtypes: bool(1), float64(18), int64(9), object(7)
memory usage: 26.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 35 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   dateOfSleep                               100 non-null    object
 1   duration                                  100 non-null    int64
 2   efficiency                                100 non-null    int64
 3   endTime                                   100 non-null    object
 4   infoCode                                  100 non-null    int64
 5   isMainSleep                               100 non-null    bool
 6   logId                                     100 non-null    int64
 7   logType                                   100 non-null    object
 8   minutesAfterWakeup                        100 non-null    int64
 9   minutesAsleep                             100 non-null    int64
 10  minutesAwake                              100 non-null    int64
 11  minutesToFallAsleep                       100 non-null    int64
 12  startTime                                 100 non-null    object
 13  timeInBed                                 100 non-null    int64
 14  type                                      100 non-null    object
 15  levels.data                               100 non-null    object
 16  levels.shortData                          96 non-null     object
 17  levels.summary.deep.count                 96 non-null     float64
 18  levels.summary.deep.minutes               96 non-null     float64
 19  levels.summary.deep.thirtyDayAvgMinutes   96 non-null     float64
 20  levels.summary.light.count                96 non-null     float64
 21  levels.summary.light.minutes              96 non-null     float64
 22  levels.summary.light.thirtyDayAvgMinutes  96 non-null     float64
 23  levels.summary.rem.count                  96 non-null     float64
 24  levels.summary.rem.minutes                96 non-null     float64
 25  levels.summary.rem.thirtyDayAvgMinutes    96 non-null     float64
 26  levels.summary.wake.count                 96 non-null     float64
 27  levels.summary.wake.minutes               96 non-null     float64
 28  levels.summary.wake.thirtyDayAvgMinutes   96 non-null     float64
 29  levels.summary.asleep.count               4 non-null      float64
 30  levels.summary.asleep.minutes             4 non-null      float64
 31  levels.summary.awake.count                4 non-null      float64
 32  levels.summary.awake.minutes              4 non-null      float64
 33  levels.summary.restless.count             4 non-null      float64
 34  levels.summary.restless.minutes           4 non-null      float64
dtypes: bool(1), float64(18), int64(9), object(7)
memory usage: 26.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 35 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   dateOfSleep                               57 non-null     object
 1   duration                                  57 non-null     int64
 2   efficiency                                57 non-null     int64
 3   endTime                                   57 non-null     object
 4   infoCode                                  57 non-null     int64
 5   isMainSleep                               57 non-null     bool
 6   logId                                     57 non-null     int64
 7   logType                                   57 non-null     object
 8   minutesAfterWakeup                        57 non-null     int64
 9   minutesAsleep                             57 non-null     int64
 10  minutesAwake                              57 non-null     int64
 11  minutesToFallAsleep                       57 non-null     int64
 12  startTime                                 57 non-null     object
 13  timeInBed                                 57 non-null     int64
 14  type                                      57 non-null     object
 15  levels.data                               57 non-null     object
 16  levels.shortData                          54 non-null     object
 17  levels.summary.deep.count                 54 non-null     float64
 18  levels.summary.deep.minutes               54 non-null     float64
 19  levels.summary.deep.thirtyDayAvgMinutes   54 non-null     float64
 20  levels.summary.light.count                54 non-null     float64
 21  levels.summary.light.minutes              54 non-null     float64
 22  levels.summary.light.thirtyDayAvgMinutes  54 non-null     float64
 23  levels.summary.rem.count                  54 non-null     float64
 24  levels.summary.rem.minutes                54 non-null     float64
 25  levels.summary.rem.thirtyDayAvgMinutes    54 non-null     float64
 26  levels.summary.wake.count                 54 non-null     float64
 27  levels.summary.wake.minutes               54 non-null     float64
 28  levels.summary.wake.thirtyDayAvgMinutes   54 non-null     float64
 29  levels.summary.asleep.count               3 non-null      float64
 30  levels.summary.asleep.minutes             3 non-null      float64
 31  levels.summary.awake.count                3 non-null      float64
 32  levels.summary.awake.minutes              3 non-null      float64
 33  levels.summary.restless.count             3 non-null      float64
 34  levels.summary.restless.minutes           3 non-null      float64
dtypes: bool(1), float64(18), int64(9), object(7)
memory usage: 15.3+ KB
None

In [23]:
sleep_df = sleep_df[['endTime', 'startTime', 'duration', 'efficiency', 'isMainSleep']]
sleep_df_2 = sleep_df_2[['endTime', 'startTime', 'duration', 'efficiency', 'isMainSleep']]
sleep_df_3 = sleep_df_3[['endTime', 'startTime', 'duration', 'efficiency', 'isMainSleep']]
print(sleep_df.info())
print(sleep_df_2.info())
print(sleep_df_3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   endTime      100 non-null    object
 1   startTime    100 non-null    object
 2   duration     100 non-null    int64
 3   efficiency   100 non-null    int64
 4   isMainSleep  100 non-null    bool
dtypes: bool(1), int64(2), object(2)
memory usage: 3.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   endTime      100 non-null    object
 1   startTime    100 non-null    object
 2   duration     100 non-null    int64
 3   efficiency   100 non-null    int64
 4   isMainSleep  100 non-null    bool
dtypes: bool(1), int64(2), object(2)
memory usage: 3.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   endTime      57 non-null     object
 1   startTime    57 non-null     object
 2   duration     57 non-null     int64
 3   efficiency   57 non-null     int64
 4   isMainSleep  57 non-null     bool
dtypes: bool(1), int64(2), object(2)
memory usage: 2.0+ KB
None

In [24]:
sleep_df = pd.concat([sleep_df, sleep_df_2, sleep_df_3], ignore_index=True)
sleep_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257 entries, 0 to 256
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   endTime      257 non-null    object
 1   startTime    257 non-null    object
 2   duration     257 non-null    int64
 3   efficiency   257 non-null    int64
 4   isMainSleep  257 non-null    bool
dtypes: bool(1), int64(2), object(2)
memory usage: 8.4+ KB

In [38]:
#ToDo: Add to sleep score csv, combine data.

In [45]:
sleep_score_csv = pd.read_csv('F:/jupyter_workspace/FishBit/raw_data/Takeout/Fitbit/Sleep Score/sleep_score.csv')
print(sleep_score_csv.head(2))
sleep_score_csv.info()

   sleep_log_entry_id             timestamp  overall_score  deep_rem_score  \
0        4.358169e+10  2023-11-23T12:51:00Z             83              21
1        4.359224e+10  2023-11-24T10:51:30Z             85              22

   restoration_score  time_asleep_score  deep_sleep_in_minutes  \
0                 19                 43                    117
1                 22                 41                     94

   resting_heart_rate  restlessness
0                  70      0.086887
1                  68      0.092902
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sleep_log_entry_id     237 non-null    float64
 1   timestamp              250 non-null    object
 2   overall_score          250 non-null    int64
 3   deep_rem_score         250 non-null    int64
 4   restoration_score      250 non-null    int64
 5   time_asleep_score      250 non-null    int64
 6   deep_sleep_in_minutes  250 non-null    int64
 7   resting_heart_rate     250 non-null    int64
 8   restlessness           250 non-null    float64
dtypes: float64(2), int64(6), object(1)
memory usage: 17.7+ KB

In [47]:
sleep_df.groupby('isMainSleep').nunique()

             endTime  startTime  duration  efficiency
isMainSleep
False              7          7         7           6
True             247        247       138          14

In [51]:
print(sleep_df.tail(2))
print(sleep_score_csv.tail(15))

                     endTime                startTime  duration  efficiency  \
255  2024-08-05T08:07:30.000  2024-08-05T00:51:30.000  26160000          92
256  2024-08-06T09:21:30.000  2024-08-06T00:38:00.000  31380000          94

     isMainSleep
255         True
256         True
     sleep_log_entry_id             timestamp  overall_score  deep_rem_score  \
235        4.639227e+10  2024-07-31T10:12:30Z             88              23
236        4.640200e+10  2024-08-01T07:28:30Z             71              20
237                 NaN              8/2/2024             78              21
238                 NaN              8/3/2024             77              17
239                 NaN              8/4/2024             84              21
240                 NaN              8/5/2024             79              21
241                 NaN              8/6/2024             81              22
242                 NaN              8/7/2024             73              19
243                 NaN              8/8/2024             84              19
244                 NaN              8/9/2024             68              21
245                 NaN             8/10/2024             83              21
246                 NaN             8/11/2024             75              19
247                 NaN             8/12/2024             75              20
248                 NaN             8/13/2024             83              21
249                 NaN             8/14/2024             82              22

     restoration_score  time_asleep_score  deep_sleep_in_minutes  \
235                 20                 45                    116
236                 20                 31                     50
237                 22                 35                     70
238                 23                 37                     55
239                 22                 41                     62
240                 22                 36                     82
241                 18                 41                    102
242                 22                 32                     79
243                 23                 42                     88
244                 22                 25                     45
245                 22                 40                    103
246                 22                 34                     61
247                 22                 33                     64
248                 21                 41                     72
249                 20                 40                     87

     resting_heart_rate  restlessness
235                  54      0.078431
236                  55      0.074689
237                  52      0.060000
238                  52      0.060000
239                  50      0.070000
240                  51      0.070000
241                  56      0.080000
242                  50      0.070000
243                  50      0.050000
244                  50      0.060000
245                  50      0.070000
246                  52      0.050000
247                  49      0.060000
248                  49      0.070000
249                  52      0.080000

In [53]:
#Get rid of non-main sleep rows, not needed for this study
sleep_df = sleep_df[sleep_df['isMainSleep']]
print(type(sleep_df['endTime'][0]))
sleep_df.info()

<class 'str'>
<class 'pandas.core.frame.DataFrame'>
Int64Index: 249 entries, 0 to 256
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   endTime      249 non-null    object
 1   startTime    249 non-null    object
 2   duration     249 non-null    int64
 3   efficiency   249 non-null    int64
 4   isMainSleep  249 non-null    bool
dtypes: bool(1), int64(2), object(2)
memory usage: 18.1+ KB

In [72]:
#need to merge the two tables, likely on sleep_df.info() endTime onto sleep_score_csv timestamp (the timestamp seems to be the time that I wake up...)
#2024-08-05T08:07:30.000
test = sleep_df['endTime'][0]
date_test = dt.datetime.strptime(test, "%Y-%m-%dT%H:%M:%S.%f")
print(date_test)

test = sleep_score_csv['timestamp'][249]
print(test)
date_test = dt.datetime.strptime(test, "%m/%d/%Y")
date_test

2023-11-22 11:00:55
8/14/2024

datetime.datetime(2024, 8, 14, 0, 0)

In [73]:
#add datetime column for each df containing the date of sleep, then merge

# Skin Temperature Log

In [25]:
# Take: dateTime, value
skin_df_arr = []
for i in range(1,10):
    file_path = f'raw_data/get_skin_{i}.json'
    
    f = open(file_path)
    data = json.load(f)
    skin_df = pd.DataFrame.from_dict(pd.json_normalize(data['tempSkin']), orient='columns')
    skin_df = skin_df[['dateTime', 'value.nightlyRelative']]
    skin_df_arr.append(skin_df)
    
skin_df_arr[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   dateTime               24 non-null     object
 1   value.nightlyRelative  24 non-null     float64
dtypes: float64(1), object(1)
memory usage: 516.0+ bytes

In [26]:
for i in range(1, len(skin_df_arr)):
    skin_df_arr[0] = pd.concat([skin_df_arr[0], skin_df_arr[i]], ignore_index=True)
    #print(i)
    
print(skin_df_arr[0].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   dateTime               243 non-null    object
 1   value.nightlyRelative  243 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.9+ KB
None

In [42]:
skin_df = skin_df_arr[0]
skin_df.head(2)

     dateTime  value.nightlyRelative
0  2023-11-26                    0.1
1  2023-11-27                   -0.4

# Heart Rate Variability Log

In [27]:
# Take: dateTime, dailyRmssd, deepRmssd
hrv_df_arr = []
for i in range(1,10):
    file_path = f'raw_data/get_hrv_{i}.json'
    
    f = open(file_path)
    data = json.load(f)
    hrv_df = pd.DataFrame.from_dict(pd.json_normalize(data['hrv']), orient='columns')
    hrv_df_arr.append(hrv_df)
    
hrv_df_arr[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   dateTime          29 non-null     object
 1   value.dailyRmssd  29 non-null     float64
 2   value.deepRmssd   29 non-null     float64
dtypes: float64(2), object(1)
memory usage: 828.0+ bytes

In [28]:
for i in range(1, len(hrv_df_arr)):
    hrv_df_arr[0] = pd.concat([hrv_df_arr[0], hrv_df_arr[i]], ignore_index=True)
    
print(hrv_df_arr[0].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   dateTime          248 non-null    object
 1   value.dailyRmssd  248 non-null    float64
 2   value.deepRmssd   248 non-null    float64
dtypes: float64(2), object(1)
memory usage: 5.9+ KB
None

In [41]:
hrv_df = hrv_df_arr[0]
hrv_df.head(2)

     dateTime  value.dailyRmssd  value.deepRmssd
0  2023-11-23            30.614           31.604
1  2023-11-24            84.414           91.716

# Breathing Rate Log

In [29]:
# Take: dateTime, breathingRate

In [30]:
# Take: dateTime, dailyRmssd, deepRmssd
br_df_arr = []
for i in range(1,10):
    file_path = f'raw_data/get_br_{i}.json'
    
    f = open(file_path)
    data = json.load(f)
    br_df = pd.DataFrame.from_dict(pd.json_normalize(data['br']), orient='columns')
    br_df_arr.append(br_df)
    
br_df_arr[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateTime             29 non-null     object
 1   value.breathingRate  29 non-null     float64
dtypes: float64(1), object(1)
memory usage: 596.0+ bytes

In [31]:
for i in range(1, len(br_df_arr)):
    br_df_arr[0] = pd.concat([br_df_arr[0], br_df_arr[i]], ignore_index=True)
    
print(br_df_arr[0].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateTime             247 non-null    object
 1   value.breathingRate  247 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.0+ KB
None

In [39]:
br_df = br_df_arr[0]
br_df.head(2)

     dateTime  value.breathingRate
0  2023-11-23                 16.6
1  2023-11-24                 14.6

In [32]:
# See how to incorporate sleep score, merge tables, find if I need to match keys...